

	body {
		margin:0px;
		padding:0px;
		background:url('images/PageBackground.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color:#110601;
		font-family: 'Teko', sans-serif;
		overflow: hidden;
		color:#fff;
	}
	
	div#navigation-topbar {
		width:100%;
		height:60px; 
		background-color:rgba(0,0,0,0.5);
		border-bottom:1px solid #54C1C1;
	}
	
	div#logo {
		width: 656px;
		left:50%;
		top:-150px;
		margin-left: -328px;
		height: 236px;
		background:url('images/CosmicPvPLogo.png') no-repeat center center; 
		display:block;
		opacity:0;
		position:absolute;
		z-index:1;
	}
	
	div#player-details, div#connection-details {
		position:absolute;
		cursor:pointer;
		top:55px;
		font-size:35px;
		text-transform:uppercase; 
		display:block;
		background-color:rgba(0,0,0,0.7);
		text-align:center;
		z-index:100;
		border-bottom:3px solid #54C1C1;
		opacity:0;
	}
	
	div#player-details {
		left:calc(50% - 425px);
		margin-left:-175px;
		width:350px;
	}
	
	
	div#connection-details {
		right:calc(50% - 400px);
		margin-right:-150px;
		width:300px;
	}
	
	div#copied {
		background-color:#ff0000;
		width:150px;
		color:#ffffff;
		right:calc(50% - 400px);
		margin-right:-75px;
		position:absolute;
		top:40px;
		font-size:20px;
		text-transform:uppercase; 
		display:block;
		text-align:center;
		z-index:110;
		border-radius:3px;
		opacity:0;
	}
	
	div#navigation {
		margin-top:9%;
		width:200px;
		position:absolute;
		right:0px;
		z-index:40;
		
	}
	div#navigation ul#navigation-parent {
		list-style:none;
		margin:0px;
		padding:0px;
	}
	
	div#navigation ul#navigation-parent li a {
		text-decoration:none;
		color:#fff;
		font-size:30px;
		background-color:rgba(0,0,0,0.6);
		display:block;
		padding-left:20px;
		margin:5px 0px ;
		height:45px;
		border-left:10px solid #54C1C1;
		line-height:50px;
		text-transform:uppercase;
		width:200px;
		float:right;
	}
	
	div#navigation ul#navigation-parent li a:hover {
		border-left:10px solid #9767BD;
	}
	
	div#galaxy-data {
		width:300px;
		padding:10px;
		background-color:rgba(0,0,0,0.5); 
		position:absolute;
		right:20px;
		top: calc(5% + 400px);
		z-index:30;
	}
	
	
	div#galaxy {
		width:100%;
		height:100%;
		position:absolute;
		left:0px;
		z-index:10;
		opacity:0;
	}
	

	
	div#galaxy div#background {
		position:absolute;
		width:80%;
		height:80%;
		margin:0px auto;
		top:13%;
		right:10%;
		background: url('images/GalaxyBackground.png') no-repeat 70% center;
		background-size: contain;
	}
	
	div#galaxy div#second-galaxy {
		position:absolute;
		width:20%;
		height:30%;
		margin:0px auto;
		top:13%;
		left:3%;
		background: url('images/GalaxyBackground2.png?24') no-repeat center center;
		background-size: contain;

	}
	
	
	a.planet {
		position:absolute;
		transform: translate(-50%, -50%);
		opacity:0.9;
		cursor: pointer;

	}
	
	a#alien {
    left: 18%;
    top: 40%;
    background: url(images/Alien.png) no-repeat center center;
    background-size: contain;
}
	
	a#lava {
    left: 52%;
    top: 46%;
    background: url(images/Lava.png) no-repeat center center;
    background-size: contain;
}
	
	a#ice {
		
		left:47%;
		top:25%;
		background:  url('images/Ice.png') no-repeat center center;
		background-size: contain;
	}
	
	a#hcf {
		left:50%;
		top:50%;
		background:  url('images/HCF.png') no-repeat center center;
		background-size: contain;	
		
	}
	
		a#nebula {
		left:50%;
		top:50%;
		background:  url('images/Nebula.png?3') no-repeat center center;
		background-size: contain;	
		
	}
	
	a#jungle {
		left:30%;
		top:70%;
		background:  url('images/Jungle.png') no-repeat center center;
		background-size: contain;
	}
	
	a#void {
    left: 40%;
    top: 86%;
    background: url(images/Void.png) no-repeat center center;
    background-size: contain;
}

	
	a#dungeon {
	    left: 32%;
	    top: 25%;
	    background: url(images/Dungeon.png) no-repeat center center;
	    background-size: contain;
	}
	
	a#apocalypse {
	    left: 23%;
	    top: 75%;
	    background: url(images/Apocalypse.png) no-repeat center center;
	    background-size: contain;
	}
	
	a#pirate {
		left:65%;
		top:17%;
		background: url('images/Pirate.png') no-repeat center center;
		background-size: contain;
	}
	
	a#magic {
    left: 73%;
    top: 62%;
    background: url(images/Magic.png) no-repeat center center;
    background-size: contain;
}
	
	a#dragon {
		left:25%;
		top:43%;
		background:  url('images/Dragon.png') no-repeat center center;
		background-size: contain;
	}
	
	a#cosmic {
		left:82%;
		top:25%;
		background:  url('images/Cosmic.png') no-repeat center center;
		background-size: contain;
		display:none;
	}
	
	a#castle {
    left: 75%;
    top: 75%;
    background: url(images/Castle.png) no-repeat center center;
    background-size: contain;
}

	a#legacy {
		left:50%;
		top:50%;
		background: url(images/Legacy.png) no-repeat center center;
		background-size: contain;
	}
	
	a#castaway {
		left:35%;
		top:12%;
		background:  url('images/Castaway.png') no-repeat center center;
		background-size: contain;
	}
	
	a#demon {
    left: 35%;
    top: 44%;
    background: url(images/Demon.png) no-repeat center center;
    background-size: contain;
}
	
	a#monster {

		left:22%; 
		top:70%;
		background: url('images/Monster.png') no-repeat center center;
		background-size: contain;
	}
	
	a#spirit {
		left:69%;
		top:27%;
		background:  url('images/Spirit.png') no-repeat center center;
		background-size: contain;
	}
	
a#goodness {
    left: 31%;
    top: 18%;
    background: url(images/Goodness.png) no-repeat center center;
    background-size: contain;
}

	
	a#pleb {
		left:20%;
		top:27%;
		background:  url('images/Pleb.png') no-repeat center center;
		background-size: contain;
	}
	div#parent-overlay {
		width:250px;
		background-color:rgba(0,0,0,0.7);
		position:absolute;
		z-index:100;
		opacity:0;
		padding:10px;
		height:0px;
		transform: translate(-50%, -50%);
	}
	
	span.lore {
		color:#f1f1f1;
		font-weight:300;
		padding:10px 5px 5px 5px;
		display:block;
		font-size:20px;
		font-style:italic;
		line-height:23px;
		text-align:center;
	}
	
	div#goodness-overlay span.lore,
	div#nebula-overlay span.lore	{
		font-size:18px;
		
	}
	
	 div.rowa {
		background-color:rgba(41,49,49,0.7);
		width:92%;
		height:30px;
		color:#fff;
		font-size:20px;
		line-height:35px;
		padding:0px 4%;
		clear:both;
		font-weight:300;

	}
	
	 div.rowb {
		height:30px;
		width:92%;
		color:#fff;
		font-size:20px;
		line-height:35px;
		padding:0px 4%;
		clear:both;
		font-weight:300;
	}
	div.rowc {
		
		width:92%;
		color:#fff;
		font-size:20px;
		line-height:35px;
		padding:0px 4%;
		clear:both;
		font-weight:300;
		text-align:center;
	}
	
	div.rowc span.middle {
		text-align:center;
		padding-top:0px;
		padding-bottom:5px;
		display:block;
		text-decoration:underline;
		width:100%;'

	}
	
	
	div.rowc span.middle-players {
		text-align:center;
		font-size:50px;
		display:block;
		padding-bottom:20px;
		width:100%;
		
	}
	
	
	div.rowb img, div.rowa img {
		padding-top:5px;
		
	}
	span.left {
		float:left;
		text-align:left;
	}
	span.right {
		text-align:right;
		float:right;
	}
	
	h1 {
		color:#fff;
		display:block;
		text-transform:uppercase;
		font-weight:normal; 
		padding:0px 0px 0px 5px;
		margin:0px 0px 0px 0px;
		font-size:30px;
		line-height:35px;
		border-bottom:1px solid #54c1c1;
		clear:both;
	}
	
	div.overlay-details {
		clear:both; 
		display:none;
	}
	
	div#lifespan {
		background-color:rgba(0,0,0,0.4);
		position:absolute;
		width:500px;
		bottom:0px;
		font-size:20px;
		left:50%;
		margin-left:-250px;
		text-align:center;
		padding:10px;
		
	}
	
	div#lifespan span {
		color: #54c1c1;
		
	}
	

	
	div#loading {
		position:absolute;
		background-color:rgba(0,0,0,0.5);
		width:500px;
		height:100px;
		line-height:110px;
		top:50%;
		margin-top:-50px;
		left:50%;
		margin-left:-250px;
		text-align:center;
		font-size:40px;
		background-image:url(images/loading.gif);
		background-repeat:no-repeat;
		background-size: 20%;
		background-position: 20px center;
		text-indent: 60px;
	}
	
	a#dungeons-promo {
		width:350px;
		height:260px;
		opacity:0.6;
		position:absolute;
		bottom:0px;
		right:0px;
		z-index:1000;
		display:none;
		background-image:url('images/legacy-promo.png?11');
	}
		
	a#dungeons-promo:hover {
		opacity:1;
	}
	

